* {
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 3rem;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.nav-link {
    font-weight: 600;
   
    font-size: 1rem;
    color: black;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
}
.selected {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.projects-list {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.project-image {
    width: 300px;
}

.project {
   display: flex;
   margin-bottom: 20px;
}

.project-details {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-details-inverse {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-name {
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
}

.project-description {
    margin-top: 0;
    font-size: 1.1rem;
}

.project-link {
    text-decoration: none;
    color: rgb(16, 99, 201);
    font-size: 1.1rem;
}

.github-link-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.github-link {
    text-decoration: none;
    color: rgb(16, 99, 201);
    font-size: 1.1rem;
}